html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.primary-navigation ul>li>a {
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 10px 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #000;
    transition: all .3s ease;
    line-height: normal;
}
.vv {
    transition: all 0.3s ease;
}

.vv2 {
    padding: 14px 0 !important;
    transition: all 0.4s ease;
}
.carousel-caption {
    top: 20%;
    text-align: left;
}

p {
    line-height: 28px;
}
.bg-success{
    background-color: #82912c !important;
}
.btn-outline-success{   
    border-color: #82912c !important;
    color: #222;
}
.btn-outline-success:hover{   
    background-color: #82912c !important;
}
.bg-light{
    background-color: #efefef !important;
}
.text-success{
    color: #82912c !important;
}
.grid li {
position: relative;
padding-left:100px;
margin: 32px 0;
list-style-type: none;
}
.number {
width: 64px;
height: 64px;
display: block;
position: absolute;
top: 0;
left: 0;    
color: #fff;
font-size: 40px;
font-weight: bold;
background-color:rgba(255,255,255,0.1);
border-radius: 100%;
padding: 0 20px;
}
.carousel-caption h5 {
    font-size: 55px;
}

.carousel-caption h5 {
    font-size: 55px;
}

.btn {
    border-radius: 0;
    padding: 8px 22px;
}
.card {
    border: none;
}
.nav-link.active {
    color: #82912c !important;
    background-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

a:link {
    text-decoration: none
}
.btn-lg2{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 32px;
    border-radius: 0;
    font-weight:600;
    letter-spacing: 1px;
}
.fw-bolder{
    font-weight: 800 !important;
}
::placeholder {
    color: red;
    font-size: 14px;
}
.banner-pic-overlay{
    position: relative;
    border-radius: 6px;
}
.banner-pic-overlay img{
    border-radius: 6px;
}
.banner-text{
position: absolute;
bottom: 0;   
width: 100%;
border-radius: 6px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.41) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.41) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.41) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#69000000',GradientType=0 );
}
.banner-text h4{
    color: #fff;
    padding: 20px;
    font-weight:700;
    font-size: 20px;
}
.icon-circle {
    transition: all 0.3s ease;
    width: 50px;
    margin: 0 5px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.icon-circle:hover {
    background-color: #82912c;
    box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.05);
    border: #82912c;
}
.icon-circle:hover i {
    color: #fff;
}
.icon-circle a i {
    color: #ccc;
}

.owl-carousel .owl-item img {
    display: inline-block !important;
    width: auto;
}
.author-img {
    width: 100%;
    z-index: 99999999999;
    position: absolute;
    top: 0;
}
.author-img img {
    width: 120px !important;
    height: auto;
    border-radius: 100%;
}
.testi-text {
    font-size: 20px;
    line-height: 38px;
}
.testi-heading {
    font-weight: 700;
}
.hh {
    letter-spacing: 5px;
}

.kk {
    height: 500px;
}
.owl-carousel {
    max-width: 900px;
    margin: 0 auto;
}